# Build
/build/
/build-vs*/
/out/
/cmake-build-*/
/.vs/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# vcpkg
/vcpkg_installed/
/vcpkg/

# IDE
/.idea/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
*.user
*.suo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Compiler
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.log

# Local CMake configuration
/CMakeUserPresets.json

# ImGui local layout
imgui.ini
